spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:h2:file:~/booking;AUTO_SERVER=true
    password: ""
    username: sa
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      path: /h2-console
      enabled: true
axon:
  axonserver:
    servers: localhost:8124

server:
  port: 8084