spring:
  application:
    name: room-service
  datasource:
    url: jdbc:h2:file:~/room;AUTO_SERVER=true
    password: ""
    username: sa
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      path: /h2-console
      enabled: true

server:
  port: 8080

axon:
  axonserver:
    servers: localhost:8124