spring:
  application:
    name: reservation-service
  datasource:
    url: jdbc:h2:file:~/reservation;AUTO_SERVER=true
    password: ""
    username: sa
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      path: /h2-console
      enabled: true
axon:
  axonserver:
    servers: localhost:8124
  eventhandling:
    processors:
      reservation-group:
        mode: subscribing

server:
  port: 8084

eureka:
  client:
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${InstanceId:${random.value}}



